body {
  background-color: rgba(128, 128, 128, 0.781);
}

a {
  text-decoration: none;
  color: darkred;
  font-size: 40px;
  cursor: pointer;
}

li {
  list-style: none;
}

.first-column {
  display: flex;
  margin-bottom: -15px;
}

.second-column {
  display: flex;
  margin-top: -15px;
}

.third-column {
  display: flex;
  margin-top: -15px;
}

.fourth-column {
  display: flex;
  margin-top: -15px;
}

.fifth-column {
  display: flex;
  margin-top: -15px;
}

.sixth-column {
  display: flex;
  margin-top: -15px;
}

.seventh-column {
  display: flex;
  margin-top: -15px;
}

.eighth-column {
  display: flex;
  margin-top: -15px;
}

div {
  width: 65px;
  height: 60px;
}

.white {
  background-color: rgba(255, 255, 255, 0.808);
}

.black {
  background-color: rgba(5, 107, 5, 0.603);
}

div:hover {
  background-color: rgba(255, 0, 0, 0.692);
}

p {
  font-size: 18px;
  position: relative;
  margin-left: 42px;
  bottom: 31pc;
  display: flex;
}

.one {
  bottom: 22pc;
  color: rgba(255, 255, 255, 0.815);
}

.two {
  bottom: 23.5pc;
  color: rgba(0, 0, 0, 0.836);
}

.three {
  bottom: 24.8pc;
  color: rgba(255, 255, 255, 0.815);
}

.four {
  bottom: 26.2pc;
  color: rgba(0, 0, 0, 0.836);
}

.five {
  bottom: 27.5pc;
  color: rgba(255, 255, 255, 0.815);
}

.six {
  bottom: 29pc;
  color: rgba(0, 0, 0, 0.836);
}

.seven {
  bottom: 30.2pc;
  color: rgba(255, 255, 255, 0.815);
}

.eight {
  bottom: 31.5pc;
  color: rgba(0, 0, 0, 0.836);
}
